.card-container {
    max-width: 200px;
    height: 300px;
    margin: 20px;
    padding: 10px;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    background-color: rgb(248, 191, 2);
    border-radius: 15px;
}

.card-container img {
    align-items: center;
    width: 100%;
    max-width: 150px;
    max-height: 200px;
}

.photo {
    display: flex;
    flex-direction: row;
    justify-content: center;
margin-bottom: 20px;
}

.character {
    text-align: center;
    font-weight: 700;
}

.actor {
    text-align: center;
}